.homeMenuscss {
  .ant-tabs-ink-bar {
    background-color: red;
  }
  .ant-tabs-tab {
    opacity: 0.5;
    border-bottom: 1px solid #ccc;
    &:hover {
      color: inherit;
    }
  }
  .ant-tabs-tab-active {
    opacity: 1;
    h5 {
      font-weight: 700;
    }
    .ant-tabs-tab-btn {
      color: #949494;
    }
  }
  &::-webkit-scrollbar {
    width: 4px;
    background-color: #c1c1c1;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f1f1f1;
  }

  border: 1px solid #c1c1c1;
}
