#blog_post {
  background-color: $bg-dark3;
  padding: 2rem 0;
  .blog_title {
    text-align: center;
    padding: 2rem 0;
    h3 {
      font-size: 3rem;
      font-weight: $fw-1;
    }
  }
  .blog_content {
    .blog_items {
      .blog_item {
        margin-bottom: 1.9rem;
        .background_heading {
          background-image: url("https://demo.w3layouts.com/demos_new/template_demo/01-02-2021/diner-liberty-demo_Free/668605264/web/assets/images/banner1.jpg");
          background-position: center;
          background-size: cover;
          height: 215px;
          padding: 0 0 1rem 1rem;
          display: flex;
          align-items: flex-end;
          justify-content: flex-start;
          gap: 0 20px;
          border-radius: 1rem;
          button.btn {
            border-radius: 1rem;
            background-color: $primary-color;
            padding: 0 18px;
            font-weight: 600;
            a {
              color: $text-white1;
            }
          }
          .icon_clock {
            i {
              color: $text-white1;
            }
          }
          span {
            color: $text-white1;
          }
        }
      }
    }
  }
}
.app_main.light {
  #blog_post {
    background-color: #f7f7f7;
    .blog_title h3 {
      color: black;
    }
    .container {
      .title__post {
        h3 {
          color: rgb(2, 1, 1);
          font-weight: bold;
        }
      }
      .title__content {
        .content {
          h4 {
            color: black;
          }
          p {
            color: gray;
          }
          .content__footer {
            div a,
            > a {
              color: black;
            }
            > a:hover {
              color: #ff6600;
            }
          }
        }
      }
    }
  }
}
// start cài đặt responsive
$res_mobile: "only screen and (max-width: 767px)";
$res_tablet: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_PC: "only screen and (min-width: 992px)";
@mixin responsive_mobile() {
  @media #{$res_mobile} {
    @content;
  }
}
@mixin responsive_tablet() {
  @media #{$res_tablet} {
    @content;
  }
}
@mixin responsive_PC() {
  @media #{$res_PC} {
    @content;
  }
}
// end cài đặt responsive
@include responsive_mobile {
}
@include responsive_tablet {
}
@include responsive_PC {
}
