#contact {
  background-color: black;
  .container {
    .row {
      .dinner {
        h3 {
          font-weight: bold;
        }
        .icon__diner i {
          color: #ff6600;
          padding: 10px;
          background-color: #232220;
          border-radius: 5px;
          margin-right: 10px;
          transition: all 0.5s;
        }
        .icon__diner i:hover {
          color: white;
          padding: 10px;
          background-color: #ff6600;
          border-radius: 5px;
          margin-right: 10px;
        }
      }
      .row__contact {
        color: gray;
      }
      .row__contact ::placeholder {
        color: gray !important;
        font-family: "Quicksand", sans-serif;
        padding: 0 15px;
      }
      .row__contact input {
        height: 50px;
      }
      .row__contact input:focus {
        box-shadow: 0 0 0 1px #ff6600;
      }
      .row__contact li a {
        line-height: 2rem;
        color: gray;
      }
      .row__contact li a:hover {
        color: #ff6600;
      }
      .row__contact p {
        font-size: 1.1rem;
        font-family: "Quicksand", sans-serif;
      }
      .row__contact button {
        background-color: #ff6600;
        height: 50px;
        font-weight: bold;
        font-family: "Quicksand", sans-serif;
        margin-top: 20px;
        transition: all 0.5s;
      }
      .row__contact button:hover {
        background-color: #a74809;
        cursor: pointer;
      }
      .row__contact h4 {
        font-weight: bold;
      }
    }
  }
}

.app_main.light {
  #contact {
    .container {
      .row {
        .dinner {
          i {
            background-color: white;
          }
          i:hover {
            background-color: #ff6600;
            color: white;
          }
        }
      }
    }
  }
}
