#list_food {
  background-color: $bg-dark1;
  color: $text-white2;
  padding: 5% 0;
  .row {
    margin: 0 auto;
    div {
      .boder {
        border: 1px solid rgba(255, 255, 255, 0.1);
        margin: 15px 0rem;
        padding: 40px;
        &:hover .title .icon {
          background-color: $primary-color;
          i {
            color: $text-white1;
          }
        }
        .title {
          display: flex;
          align-items: center;
          margin-bottom: 2rem;
          .icon {
            width: 72px;
            height: 72px;
            background-color: $bg-dark3;
            border-radius: $radius;
            transition: all 0.5s;
            i {
              color: $primary-color;
              font-size: 1.5rem;
              margin: 50% 0 0 50%;
              transform: translate(-50%, -50%);
            }
          }
          .name {
            margin-left: 2rem;
            height: 72px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            p {
              font-size: 1.2rem;
            }
            h6 {
              font-size: 1.6rem;
              font-weight: $fw-1;
              cursor: pointer;
              transition: all 0.5s;
              min-width: 150px;
              margin-bottom: 0;
              &:hover {
                color: $primary-color;
              }
            }
          }
        }
        p {
          font-size: 1.2rem;
          margin-bottom: 0;
        }
      }
    }
  }
}

.app_main.light {
  #list_food {
    background-color: white;
    color: $bg-dark3;
    .boder {
      border: 1px solid #eee;
      &:hover .title .icon {
        background-color: $primary-color;
        i {
          color: $text-white1;
        }
      }
      .title {
        .icon {
          background-color: rgba(130, 115, 252, 0.05);
        }
        .name {
          h6 {
            color: $heading-color;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
// start cài đặt responsive
$res_mobile: "only screen and (max-width: 767px)";
$res_tablet: "only screen and (min-width: 768px) and (max-width: 991px)";
$res_PC: "only screen and (min-width: 992px)";
@mixin responsive_mobile() {
  @media #{$res_mobile} {
    @content;
  }
}
@mixin responsive_tablet() {
  @media #{$res_tablet} {
    @content;
  }
}
@mixin responsive_PC() {
  @media #{$res_PC} {
    @content;
  }
}
// end cài đặt responsive
@include responsive_mobile {
  #list_food {
    .row {
      div {
        .boder {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
