#restaurant {
      background-color: $primary-color;
      .restaurant_img {
          img {
              width: 100%;
          }
      }
      .restaurant_content {
          padding: 4%;
          .introduction {
              width: 90%;
              .chukieu {
                  color: $text-white1;
                  margin-bottom: 0;
              }
              h3 {
                  font-size: 3rem;
                  font-weight: $fw-1;
              }
              span {
                  color: #ffdfc9;
                  font-size: 1.3rem;
                  display: block;
                  margin: 1.6rem 0 3.5rem;
              }
          }
          .deal_food {
              .deal_food_item {
                  &:hover .icon i {
                      color: $second-color;
                  }
                  .icon {
                      width: 72px;
                      height: 72px;
                      background-color: white;
                      border-radius: $radius;
                      i {
                          color: $primary-color;
                          font-size: 2rem;
                          margin: 50% 0 0 50%;
                          transform: translate(-50%, -50%);
                      }
                  }
                  h3 {
                      font-weight: $fw-1;
                      margin: 2rem 0 1rem 0;
                      cursor: pointer;
                  }
                  p {
                      color: #ffdfc9;
                      font-size: 1.3rem;
                      width: 90%;
                  }
              }
          }
      }
  }

@include responsive_mobile {
      #restaurant {
            .restaurant_img {
                height: 70%;
                overflow: hidden;
                img {
                    width: 94%;
                    margin: 6% 3%;
                }
            }
            .restaurant_content {
                margin-left: 1rem;
                .introduction {
                    .chukieu {
                        font-size: 1rem;
                    }
                    h3 {
                        font-size: 1.5rem;
                    }
                    span {
                        font-size: 1rem;
                    }
                }
                .deal_food {
                    .deal_food_item {
                        h3 {
                            font-size: 1.2rem;
                        }
                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
}
@include responsive_tablet {
      #restaurant {
            .restaurant_img {
                height: 70%;
                overflow: hidden;
                img {
                    width: 94%;
                    margin: 6% 3%;
                }
            }
            .restaurant_content {
                margin-left: 2%;
            }
        }
}
@include responsive_PC {
      #restaurant {
            .row {
                max-width: 100%;
            }
            .restaurant_img {
                background-image: url("https://demo.w3layouts.com/demos_new/template_demo/01-02-2021/diner-liberty-demo_Free/668605264/web/assets/images/banner3.jpg");
                background-position: center;
                background-size: cover;
                img {
                    display: none;
                }
            }
        }
}
      