.cardParent {
  cursor: pointer;
  &:hover {
    .datVe {
      transform: scale(1);
    }
    span {
      opacity: 0;
    }
    .openTrailer {
      transform: scale(1);
    }
  }
  .datVe {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    color: white;
    z-index: 2;
    transform: scale(0);
    transition: all 0.2s;
  }
  .openTrailer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.2s;
  }
}
